<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="\\\kwhkfs01.kwcml.com\\system_logs\\PROD\\SAP_Download\\"/>
      <datePattern value="'TransactionData-'yyyyMMdd'.log'"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5120KB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %-22.22c{1} %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Environment" value="DEV" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="InitialLoad" value="" />
    <add key="CompCode" value="2001" />
    <add key="Filter" value="" />
    <add key="From" value="2025.11.20" />
    <add key="To" value="2025.11.24" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="LINKSAP" connectionString="data source=KWHKSQL03;initial catalog=LINK-SAP;persist security info=True;user id=sa;password=5f-htrkt;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <!--<add NAME="DEV" USER="xxx" PASSWD="xxx" CLIENT="560" SYSID="ED1" LANG="EN" ASHOST="192.168.230.158" SYSNR="00" MAX_POOL_SIZE="10" IDLE_TIMEOUT="600" SNC_LIB="C:\Windows\SysWOW64\gsskrb5.dll" />-->
          <!--<add NAME="DEV" USER="sdserviceid" PASSWD="5F-htrkt"  CLIENT="560" LANG="EN"  EXTIDTYPE="NT" ASHOST="192.168.230.158" SYSNR="00" SNC_PARTNERNAME="p:SAPServiceED1@KWCML.COM" SNC_QOP="8" SNC_MODE="1" SNC_LIB="C:\Windows\SysWOW64\gsskrb5.dll" />-->
          <add NAME="PRD" USER="sdserviceid" PASSWD="5F-htrkt" CLIENT="888" LANG="EN" EXTIDTYPE="NT" ASHOST="sapapp.kwcml.com" SYSNR="00" />
          <add NAME="DEV" USER="sdserviceid" PASSWD="5F-htrkt" CLIENT="560" LANG="EN" EXTIDTYPE="NT" ASHOST="192.168.230.158" SYSNR="00" />
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>