<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment"
       value="PRD"
       xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="LINKSAP"
       connectionString="data source=KWHKSQLPRD01;initial catalog=LINK-SAP;persist security info=True;user id=sa;password=5f-htrkt;MultipleActiveResultSets=True;App=EntityFramework"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>