<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="c:\temp\nlog-SDS-Download-TransactionData-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--<target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}/debug.log"
         layout="${date}| ${level} | ${message}"/>-->
    <target name="logfile" xsi:type="File" fileName="c:/temp/logs/SAP_Download_Master/${shortdate}/console_system.log"
         layout="${date}| ${level} | ${message}"/>
    <target name="fatalfile" xsi:type="File" fileName="c:/temp/logs/SAP_Download_Master/${shortdate}/console_system.log"
            layout="${date}| ${level} | ${message}"/>
    <target name="eventlog" xsi:type="EventLog" source="NLogLogger" log="Application"
            layout="${date}| ${level} | ${message}"/>

    <target name="mail" xsi:type="Mail"
            smtpServer="128.1.10.197"
            smtpPort="25"
            smtpAuthentication="None"
            enableSsl="false"
            from="system@kwcml.com"
            to="Yamankeung@kwcml.com"
            html="true"
            encoding="UTF-8"
            addNewLines="true"
            replaceNewlineWithBrTagInHtml ="true"
            subject="SDS Download Master Data：${machinename} at ${shortdate} ${time} Error Message "
            header="*************************************************************************"
            body="${newline} 
            Machine: ${machinename} ${newline}${newline}
            Time：${longdate} ${newline}${newline}
            Log level：${level:uppercase=true} ${newline}${newline}
            Logger：${logger} ${newline}${newline}
            Source：${callsite:className=true} ${newline}${newline}
            Exception：${exception:format=type} ${newline}${newline}
            Error message：${message} ${newline}${newline}"
            footer="*************************************************************************"
          />

  </targets>

  <rules>
    <logger name="*" levels="Fatal,Error" writeTo="mail" />
    <logger name="*" levels="Trace,Debug,Info,Warn,Error" writeTo="logfile" />
    <logger name="*" level="Fatal" writeTo="fatalfile" />
    <logger name="*" level="Fatal" writeTo="eventlog" />
  </rules>
</nlog>
